[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
authlib = "*"
auth0-python = "*"
flask = "*"
flask-cors = "*"
flask-peewee = "*"
peewee = "*"
python-dotenv = "*"
python-jose-cryptodome = "*"
requests = "*"
six = "*"
wtforms = "*"
wtf-peewee = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
